*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(163,153,153);
background: linear-gradient(0deg, rgba(163,153,153,1) 0%, rgba(128,142,155,1) 100%);
}

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
     
}

.container{
    background-color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container .header,
.container .footer {
    grid-column: 1/6;
    background: #1e272e;
    color: #ffff;
}

.container > .content{
    grid-column: span 3;
}

.content > .article{
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content .article h1, 
.content article p{
    padding: 10px;
}

.container .sidebar img {
    width: 100%;
    margin-top: 5px;
    height: 100px;
}
.container > .sidebar{
    grid-column: span 2;
    background: #485460;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > .related-post{
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container > .related-post:hover{
    cursor:pointer;
    color: #000000;
    background: #ffffff;
}

.logo{
    display: flex;
    text-align: center;
    letter-spacing: 5px;
}

.logo p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 50px;
}



.navul{
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.navul ul li a:hover{
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    transition: all 0.5s ease;
    padding: 4px;
    border-radius: 4px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.navul ul li a{
    display: block;
    padding: 0.5rem;
    color: #ffff;
    font-size: 18px;
}

.navul ul li{
    display: inline-block;
}

.divh1{
    font-size: 15px;
    padding-left: 4rem;
    padding-top: 0.3rem;
}

.containerContacto{
    background-color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}


.containerContacto > .header,
.containerContacto > .content,
.containerContacto > .sidebar,
.containerContacto > .footer,
.containerContacto > div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.containerContacto .header,
.containerContacto .footer{
    grid-column: 1/6;
    background: #1e272e;
    color: #ffff;
}

.containerContacto > .content{
    grid-column: span 5;
}

.containerContacto > .content{
    grid-column: span 5;
}

.containerContacto > .sidebar{
    grid-row: span 2;
    grid-column: span 5;
    background: #485460;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:768px){
    .header{
        text-align: center;
    }

    .container .content{
        grid-column: 1/-1;
    }
    .container .sidebar{
        grid-column: 1/-1;
    }
    
    .container .related-post{
        grid-column: 1/-1;
    }

    
}

